<style type="text/css">
  .card-img-top{
     object-fit: cover!important;
    object-position: bottom!important;
  }
 
</style>
<div class="container-fluid">
<div class="display-4 text-center">Mentorship Dashboard</div>
<p class="text-center text-uppercase text-secondary">Connecting you to a higher vibration</p>
</div>
<div class="container-fluid text-center mx-auto">
	<div class="row justify-content-md-center">
		<div class="lg-col-4 sm-col-12 my-8 mx-auto shadow-lg">
			<div class="card" style="width:400px">
        <%=image_tag "do.jpg",class: "card-img-top",height: "270" %>
  					<div class="card-body">
              <h2><%= current_user.hours %></h2>
    					<h4 class="card-title">HOURS</h4>
              <span class="badge badge-secondary badge-pill">Goal: <%= current_user.goal %></span>
    					<p class="card-text">These are the hours that you have earned</p>
    					<%=link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
  					</div>
			</div>
		</div><!--COL -->
		<div class="lg-col-4 sm-col-12 my-8 mx-auto shadow-lg">
			<div class="card" style="width:400px">
  				<%=image_tag "learn.jpg",class: "card-img-top" %>
  					<div class="card-body">
    					<h4 class="card-title">Your Progress</h4>
              <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: <%=current_user.hours %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax="50"></div>
              </div>
    					<p class="card-text">Things you can do</p>
    					<a href="/entries/new" class="btn btn-primary"><span class="glyphicon glyphicon-upload"><i class="fas fa-cloud-upload-alt"></i> Record New Practice</span></a>
              <a href="/entries" class="btn btn-secondary"><span class="glyphicon  glyphicon-flag"><i class="fas fa-road"></i> Review Notes</span></a>
  					</div>

			</div>
		</div><!--COL -->
		<div class="lg-col-4 sm-col-12 mx-auto shadow-lg">
			<div class="card" style="width:400px">
  				<%=image_tag "help.jpg",class: "card-img-top" %>
  					<div class="card-body">
    					<h4 class="card-title">Your Teacher</h4>
    					<p class="card-text"><%= @teacher %></p>
              <p class="lead">
                <% if current_user.notes.count > 0 %>
                  <%=current_user.notes.last.body %>
                <% else %>
                  No Feedback yet.
                <% end %>
              </p>
    					
  					</div>
			</div>
		</div><!--COL -->
	</div><!-- ROW -->
</div><!--CONTAINER -->
