<div class="container">
<p id="notice"><%= notice %></p>

<h1>Session Entries</h1>
<div class="text-blue-700">Progress takes risk. Perfection takes confidence.</div>
 <div class="progress">
              <% if current_user.hours > 0 && current_user.hours < 25 %>
              <div class="progress-bar bg-danger" role="progressbar" style="width: <%=current_user.hours %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax="50"></div>
              </div>
              <% end %>
              <% if current_user.hours > 25 && current_user.hours < 75 %>
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%=current_user.hours %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax="50"></div>
              </div>
              <% end %>
              <% if current_user.hours > 75 %>
              <div class="progress-bar bg-success" role="progressbar" style="width: <%=current_user.hours %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax="50"></div>
              </div>
              <% end %>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Reason</th>
      <th>Timespent</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Recording</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.fullname %></td>
        <td><%= entry.reason.description %></td>
        <% if entry.timespent %>
          <td><%= entry.timespent %></td>
        <% end %>
        <td><%= entry.status %></td>
        <td><%= entry.notes %></td>
        <td>
        <% if entry.evidence.attached? %>
          <%= link_to 'Download', url_for(entry.evidence) %>
        <% else %>
          No Attachment
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</div>

<br>


</table>
