<div class="container">
<p id="notice"><%= notice %></p>

<h1>Session Entries</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Reason</th>
      <th>Timespent</th>
      <th>Recording</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.fullname %></td>
        <td><%= entry.reason.description %></td>
        <% if entry.timespent %>
          <td><%= entry.timespent %></td>
        <% end %>
        <% if entry.evidence %>
         
          <% else %>
          No Attachment
          <% end %>
        <td><%= entry.notes %></td>
      </tr>
    <% end %>
  </tbody>
</div>

<br>


</table>
