<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="text-uppercase">Session Entries</h1>
<div class="h4"><span class="text-primary">Progress</span> takes risk. <span class="text-primary">Perfection</span> takes confidence.</div>
<div class="text-secondary">You have completed <%=sessioncount%> sessions.</div>
 <div class="progress">
              <% if current_user.hours > 0 && current_user.hours < 10 %>
              <div class="progress-bar bg-danger" role="progressbar" style="width: <%= statusbar(current_user.hours,current_user.goal) %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax=<%= current_user.goal %>></div>
              </div>
              <% end %>
              <% if current_user.hours > 10 && current_user.hours < 30 %>
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%= statusbar(current_user.hours,current_user.goal) %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax=<%= current_user.goal %>></div>
              </div>
              <% end %>
              <% if current_user.hours > 30 %>
              <div class="progress-bar bg-success" role="progressbar" style="width: <%= statusbar(current_user.hours,current_user.goal) %>%" aria-valuenow=<%=current_user.hours%> aria-valuemin="0" aria-valuemax=<%= current_user.goal %>></div>
              </div>
              <% end %>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Reason</th>
      <th>Timespent</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Recording</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.fullname %></td>
        <td><%= entry.reason.description %></td>
        <% if entry.timespent %>
          <td><%= entry.timespent %></td>
          <% else %>
          <td>unknown</td>
        <% end %>
        
        <td><% if entry.accepted %>
        <span><i class="fas fa-check-square"></i> Accepted</span>
        <% else %>
        <span><i class="fas fa-hourglass-half"></i> Pending Review</span>
        <% end %></td>
        <td>
          <% if entry.notes %>
            <%= entry.notes %>
          <% else %>
            No notes.
          <% end %>
            
        </td>
        <td>
        <% if entry.evidence.attached? %>
          <%= link_to 'Download', url_for(entry.evidence) %>
        <% else %>
          No Attachment
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</div>

<br>


</table>
