<div class="container">
  <div class="row">
    <div class="col">
      <h1>New Entry</h1>

<%= render 'form', entry: @entry %>

<% if @entries %>
<div class="h2">Past Sessions</div>
<% @entries.each do |e| %>
	<ul>
		<li>
			<%=e.session_date %> |<%= e.reason.description %> (<%= e.notes %>) | Reviewed: <%=e.reviewed ? 'Yes' : 'No' %>
		</li>
	</ul>
	<% end %>
<% else %>
Nothing Sent in yet.
<% end %>

    </div><!-- col -->
  </div><!-- row -->  
</div><!-- container -->


