<h1>New Entry</h1>

<%= render 'form', entry: @entry %>

<% if @entries %>
<div class="h2">Past Sessions</div>
<% @entries.each do |e| %>
	<ul>
		<li>
			<%=e.created_at.strftime("%m/%d/%Y") %> |<%= e.reason.description %> | Reviewed: <%=e.reviewed ? 'Yes' : 'No' %>
		</li>
	</ul>
	<% end %>
<% else %>
Nothing Sent in yet.
<% end %>

<%= link_to 'Back', entries_path %>
